{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - Edit Profile
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            {{ form.as_p }}
        </div>

<!--            <label for="inputEmail4" class="form-label">Email</label>-->
<!--            <input type="user" class="form-control" id="{{ user }}">-->

        <button type="submit" class="btn btn-success" name="save">save edit</button>

    </form>

{% endblock %}
