{% extends 'base/base.html' %}

{% block js %}
<link rel="stylesheet" href="/static/style_back_all.css">
{% endblock %}
{% block title %}
    Ten Yad - post id: {{post.id}}
{% endblock %}
{% block content %}
    <h2>title: {{post.title}}</h2>
    {% if current_profile.pk == post.user.pk %}
        <a href="edit_post?id={{post.id}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
    {% endif %}
    <p>author: <a href="/user/profile?id={{post.user.id}}" >{{post.user.profile}}</a></p>
    {% if post.category %}
        <p>category: {{post.category}}</p>
    {% endif %}
    {% if post.post_type %}
        <p>post type: {{post.post_type}}</p>
    {% endif %}
    {% if post.location %}
        <p>post location: {{post.location}}</p>
    {% endif %}
    <p>content: {{post.content}}</p>
    {% if post.equipment %}
        <p>equipment details: {{post.equipment}}</p>
    {% endif %}
    <p>updated last: {{post.time_updated_last}}</p>
    <p>post status: {{post.post_status}}</p>
    {% if user == post.user %}
        {% if not post.reactions.all and not post.approved_reactions.all and not post.users_to_rate.all %}
            <button type="button" class="btn btn-primary btn-sm" disabled data-bs-toggle="modal" data-bs-target="#approveRepliers">
                All Replies
            </button>
        {% else %}
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#approveRepliers">
                All Replies
            </button>
            <div class="modal fade" id="approveRepliers" tabindex="-1" aria-labelledby="contactRepliers" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="approveRepliersLabel"><strong>All Replies</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
                          <div class="container">
                            <div class="row">
                              <nav class="col-sm-3" id="myScrollspy">
                                <ul class="nav nav-pills nav-stacked">
                                <div id="list-example2" class="list-group">
                                  {% for reacted_user in post.reactions.all %}
                                    <a class="list-group-item list-group-item-action" href="#{{ reacted_user }}">{{ reacted_user }}</a>
                                  {% endfor %}
                                </div>
                                <style>
                                        body {
                                          position: relative;
                                        }
                                </style>
                                </ul>
                              </nav>
                              <div class="col-sm-9">
                                  {% for user_to_rate in post.users_to_rate.all %}
                                        <h4><a href="/user/profile?id={{reacted_user.id}}" style="text-decoration: none">{{reacted_user.profile}}</a></h4>
                                        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                          <div class="btn-group" role="group" aria-label="First group">
                                              <h4 style="margin-right:1em" ><a href="/user/profile?id={{user_to_rate.id}}" style="text-decoration: none">{{user_to_rate.profile}}</a></h4>
                                              <form action="{% url 'rate_user' post.id user_to_rate.pk 1 %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                                              </form>
                                              <form action="{% url 'rate_user' post.id user_to_rate.pk 2 %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                                              </form>
                                              <form action="{% url 'rate_user' post.id user_to_rate.pk 3 %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                                              </form>
                                                             <form action="{% url 'rate_user' post.id user_to_rate.pk 4 %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                                              </form>
                                                             <form action="{% url 'rate_user' post.id user_to_rate.pk 5 %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                                              </form>
                                          </div>
                                        </div>
                                    {% if not forloop.last or post.reactions.all %}
                                        <hr>
                                    {% endif %}
                                  {% endfor %}
                                {% for reacted_user in post.reactions.all %}
                                    <h4 id = "{{ reacted_user }}"><a href="/user/profile?id={{reacted_user.id}}" style="text-decoration: none">{{reacted_user.profile}}</a></h4>
                                        <ul style="list-style-type: square ; padding-bottom: 0;">
                                            {% if reacted_user in post.approved_reactions.all %}
                                                {% csrf_token %}
                                                <a href="{% url 'cancel_react_to_post' post.id reacted_user.pk %}" class="btn btn-danger btn-sm">
                                                    Cancel
                                                </a>
                                                {% csrf_token %}
                                                <a href="{% url 'complete_assist' post.id reacted_user.pk %}" class="btn btn-success btn-sm">
                                                    Complete assist
                                                </a>
                                            {% else %}
                                                <form action="{% url 'accept_react_to_post' post.id reacted_user.pk %}" method="POST">
                                                {% csrf_token %}
                                                {% if not post.approved_reactions.all or post.post_type == post.PostType.GROUP_ASSIST_OFFER or post.post_type == post.PostType.GROUP_ASSIST_REQUEST %}
                                                    <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-success btn-sm">Approve</button>
                                                {% else %}
                                                    <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-success btn-sm" disabled >Approve</button>
                                                {% endif %}
                                                </form>
                                            {% endif %}

                                        </ul>

                                    {% if not forloop.last %}
                                        <hr>
                                    {% endif %}

                                {% endfor %}
                              </div>
                            </div>
                          </div>
                     </body>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>
        {% if not post.approved_reactions.all %}
            <button type="button" class="btn btn-primary btn-sm" disabled data-bs-toggle="modal" data-bs-target="#contactRepliers">
                  Contact Repliers
            </button>
        {% else %}
            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#contactRepliers">
              Contact Approved Repliers
            </button>
            <div class="modal fade" id="contactRepliers" tabindex="-1" aria-labelledby="contactRepliers" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="contactRepliersLabel"><strong>All Approved Repliers</strong> Contact Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {% for replier in post.approved_reactions.all %}
                        <strong>Name ({{ replier.profile }}):</strong> {{ replier.get_full_name }}
                        <br/>
                        <strong>Email:</strong> {{ replier.email }}
                        <br/>
                        {% if replier.profile.phone %}
                            <strong>Phone:</strong> {{ replier.profile.phone }}
                            <br/>
                        {% endif %}
                        {% if replier.profile.telegram %}
                            <strong>Telegram:</strong> {{ replier.profile.telegram }}
                            <br/>
                        {% endif %}
                        {% if replier.profile.other_contact %}
                            <strong>Other Contact Methods:</strong> <br/>{{ replier.profile.other_contact }}
                            <br/>
                        {% endif %}
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
        {% endif %}
        <br/>

        <div>
            {% csrf_token %}
            <a href="{% url 'delete_post' post.id %}" class="btn btn-outline-danger btn-sm">
                Delete Post
            </a>
            {% if post.post_status != post.PostStatus.ARCHIVE %}
                {% csrf_token %}
                <a href="{% url 'close_post' post.id %}" class="btn btn-outline-secondary btn-sm">
                   Close Post
                </a>
            {% else %}
                <a href="{% url 'reactivate_post' post.id %}" class="btn btn-outline-success btn-sm">
                   Reactivate Post
                </a>
            {% endif %}
        </div>
    {% endif %}

    {% if post.post_status != post.PostStatus.ARCHIVE %}
        <br/><br/>
        {% if current_profile in post.reacted_user_rate.all %}
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group" role="group" aria-label="First group">
                  <h4 style="margin-right:1em">Rate Assistance:  </h4>
                <form action="{% url 'rate_user' post.id post.user.pk 1 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                </form>
               <form action="{% url 'rate_user' post.id post.user.pk 2 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                </form>
                                 <form action="{% url 'rate_user' post.id post.user.pk 3 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                </form>
                                 <form action="{% url 'rate_user' post.id post.user.pk 4 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                </form>
                                 <form action="{% url 'rate_user' post.id post.user.pk 5 %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="rating", value = "{{ post.pk }}" class="btn btn-outline-secondary"><span class="fa fa-star checked"></span></button>
                </form>

              </div>
            </div>
        {% endif %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .checked {
              color: orange;
            }
        </style>
        <style>
            input.largerCheckbox {
                width: 10px;
                height: 10px;
            }
        </style>
        <hr>
        <br/>

        {% if current_profile in post.reactions.all %}
                {% csrf_token %}
                <a href="{% url 'cancel_react_to_post' post.id user.pk %}" class="btn btn-danger btn-sm">
                    Remove Yad
                </a>
            {% if current_profile in post.approved_reactions.all %}
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Contact Details
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><strong>{{ post.user.get_full_name }}'s</strong> Contact Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                            <strong>Email:</strong> {{ post.user.email }}
                            <br/>
                            {% if post.user.profile.phone %}
                                <strong>Phone:</strong> {{ post.user.profile.phone }}
                                <br/>
                            {% endif %}
                            {% if post.user.profile.telegram %}
                                <strong>Telegram:</strong> {{ post.user.profile.telegram }}
                                <br/>
                            {% endif %}
                            {% if post.user.profile.other_contact %}
                                <strong>Other Contact Methods:</strong> <br/>{{ post.user.profile.other_contact }}
                                <br/>
                            {% endif %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            {% endif %}

        {% elif current_profile != post.user %}
            <form action="{% url 'react_to_post' post.id %}" method="POST">
                {% csrf_token %}
                {% if current_profile.profile.gender == 'Female' %}
                    <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-success btn-sm">Tni Yad</button>
                {% else %}
                    <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-success btn-sm">Ten Yad</button>
                {% endif %}
            </form>
        {% endif %}
    {% endif %}

    {% if post.users_assist.all %}
        <p>Users that assisted:</p>
    {% endif %}
    {% for user_assisted in post.users_assist.all %}
        <ul style="list-style-type: square ; padding-bottom: 0;">
            <li style="margin-left:2em"> <a href="/user/profile?id={{user_assisted.id}}" >
                {{user_assisted.profile}}</a></li>
        </ul>
    {% endfor %}

{% endblock %}
