{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - post id: {{post.id}}
{% endblock %}
{% block content %}
    <h2>title: {{post.title}}</h2>
    <p>author: <a href="/user/profile?id={{post.user.id}}" >{{post.user.profile}}</a></p>
    {% if post.category %}
        <p>category: {{post.category}}</p>
    {% endif %}
    {% if post.post_type %}
        <p>post type: {{post.post_type}}</p>
    {% endif %}
    {% if post.location %}
        <p>post location: {{post.location}}</p>
    {% endif %}
    <p>content: {{post.content}}</p>
    {% if post.equipment %}
        <p>equipment needed: {{post.equipment}}</p>
    {% endif %}
    <p>updated last: {{post.time_updated_last}}</p>
    <p>post status: {{post.post_status}}</p>

    {% if user == post.user %}
        <br/>
        <form action="{% url 'delete_post' post.id %}" method="POST">
                {% csrf_token %}
                <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-outline-danger btn-sm">Delete Post</button>
        </form>
        {% if post.post_status != post.PostStatus.ARCHIVE %}
            <form action="{% url 'close_post' post.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-outline-secondary btn-sm">Close Post</button>
            </form>
        {% else %}
            <form action="{% url 'reactivate_post' post.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-outline-success btn-sm">Reactivate Post</button>
            </form>
        {% endif %}
    {% endif %}
    {% if post.post_status != post.PostStatus.ARCHIVE %}
        <br/><br/>
        <hr>
        <br/>

        {% if user in post.reactions.all %}
            <form action="{% url 'cancel_react_to_post' post.id user.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-danger btn-sm">Remove Yad</button>
            </form>
        {% elif user != post.user %}
            <form action="{% url 'react_to_post' post.id %}" method="POST">
                {% csrf_token %}
                <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-success btn-sm">Ten Yad</button>
            </form>
        {% elif post.reactions.all %}
            <p>Reactions:</p>
            <ul>
            {% for reacted_user in post.reactions.all %}
                <ul style="list-style-type: square ; padding-bottom: 0;">
                    <li style="margin-left:1em"><a href="/user/profile?id={{reacted_user.id}}" >{{reacted_user.profile}}</a>
                        {% if reacted_user in post.approved_reactions.all %}
                            <form action="{% url 'cancel_react_to_post' post.id reacted_user.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-danger btn-sm">Cancel</button>
                            </form>
                            <form action="{% url 'complete_assist' post.id reacted_user.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-success btn-sm">Complete assist</button>
                            </form>
                        {% else %}
                            <form action="{% url 'accept_react_to_post' post.id reacted_user.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit", name="post_id", value = "{{ post.pk }}" , class="btn btn-success btn-sm">Approve</button>
                            </form>
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}


    {% if post.users_assist.all %}
        <p>Users that assisted:</p>
    {% endif %}
    {% for user_assisted in post.users_assist.all %}
        <ul style="list-style-type: square ; padding-bottom: 0;">
                <li style="margin-left:2em"> <a href="/user/profile?id={{user_assisted.id}}" >
                    {{user_assisted.profile}}</a></li>
        </ul>
    {% endfor %}


{% endblock %}
