#name{
	position: absolute;
	font-size: 100px;
	font-family:Impact, Charcoal, sans-serif;
	top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login{
    position: absolute;
	font-size: 50px;
	border-bottom: 6px solid #56565a;
	margin-bottom: 5px;
	padding: 1px 0;
	margin: 0;
    padding:0;
    font-family: sans-serif;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logout-message{
position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logout-if-logged-in{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
  background-image: url(/static/background_login.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}