{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - Post History
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/style_back_all.css">
    <div class="post_history_titel">
        <h1>Post History</h1>
    </div>
    <div class="post_history_list: ">
        <ol class="list-group" style="opacity:0.85;">
        {% for post in user_posts %}
            <li class="list-group-item">
                {% if post.post_status == post.PostStatus.ARCHIVE %}
                <a href="/posts/post?id={{post.id}}" >{{post.title}}</a> <txt style="font-size:14px; color:#538b01; font-weight:bold; font-style:italic;">(archived)</txt> updated last: {{post.time_updated_last}}
                {% else %}
                    <a href="/posts/post?id={{post.id}}" >{{post.title}}</a> updated last: {{post.time_updated_last}}
                {% endif %}
                {% if post.post_status != post.PostStatus.ARCHIVE %}
                    {% if post.approved_reactions.all %}
                        <p style="margin-left:1em">Approved reactions:</p>
                    {% endif %}
                    {% for approved_reaction in post.approved_reactions.all %}

                        <ul style="list-style-type: square ; padding-bottom: 0;">
                                <li style="margin-left:2em"> <a href="/user/profile?id={{approved_reaction.id}}" >
                                    {{approved_reaction.profile}}</a></li>
                            <div>
                                {% csrf_token %}
                                <a href="{% url 'cancel_react_to_post' post.id approved_reaction.pk request.get_full_path %}" class="btn btn-danger btn-sm">
                                    Cancel
                                </a>
                                {% csrf_token %}
                                <a href="{% url 'complete_assist' post.id approved_reaction.pk request.get_full_path %}" class="btn btn-success btn-sm">
                                    Complete assist
                                </a>
                            </div>
                        </ul>
                    {% endfor %}
                {% endif %}
                {% if post.users_assist.all %}
                    <p style="margin-left:1em">Users that assisted:</p>
                {% endif %}
                {% for user_assisted in post.users_assist.all %}
                    <ul style="list-style-type: square ; padding-bottom: 0;">
                        <li style="margin-left:2em"> <a href="/user/profile?id={{user_assisted.id}}" >
                            {{user_assisted.profile}}</a></li>
                    </ul>
                {% endfor %}
            </li>
        {% endfor %}
        </ol>
    </div>
{% endblock %}
