{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - {{user}}
{% endblock %}
{% block content %}
    <div class="profile_title">
        <h1>{{name}}'s Profile</h1>
        <h2 style="color:rgb(14, 101, 179);">Points: {{user.profile.points}}</h2>
        <h2 style="color:rgb(207,181,59);">Rating: {{rating}}</h2>
    </div>
    <div class="profile_details">
        {% if age %}
            <p>Age: {{age}}</p>
        {% endif %}
        {% if user.profile.show_email %}
            <p>Email: {{user.email}}</p>
        {% endif %}
        {% if user.profile.show_phone %}
            <p>Phone: {{user.profile.phone}}</p>
        {% endif %}
        {% if user.profile.show_telegram %}
            <p>Telegram: {{user.profile.telegram}}</p>
        {% endif %}
        {% if user.profile.other_contact %}
            <p>Other contact details: {{user.profile.other_contact}}</p>
        {% endif %}
        {% if user.profile.description %}
            <p>About myself: {{user.profile.description}}</p>
        {% endif %}
    </div>

{% endblock %}
