{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - New Assist Post
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="/static/style_back_all.css">
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-6">
            {{ form | crispy}}
        </div>

<!--            <label for="inputEmail4" class="form-label">certificate</label>-->
<!--            <input type="user" class="form-control" id="{{ user }}">-->

        <button type="submit" class="btn btn-dark btn-sm" name="save">Post</button>
        <br>
        <br>

    </form>


{% endblock %}