{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - Contact Admin
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="/static/style_back_all.css">
    <form method="POST">
        <div class="col-md-6">
            {{ form|crispy }}
        </div>
        {% csrf_token %}
        <p>*Please specify if you are a non-profit organization representative.</p>
        <button type="submit" class="btn btn-outline-dark btn-sm" name="save">Send</button>
    </form>

{% endblock %}
