{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - Edit Profile
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}



    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Choose Category</option>
        {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <ul>

        <h3> The volunteers who helped at the category :<option value="{{ category }}">{{ category }}</option> </h3>
        {% for user_check in searchVolunteers %}
            <p>
                <a href="/user/profile?id={{user_check.id}}" >{{user_check.profile}}'s</a>
            </p>
        {% endfor %}
    </ul>
{% endblock %}