{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - Edit Profile
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="/static/style_back_all.css">

    <form action="/volunteers" method="POST">
        <select id="category" name="category" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected value="None">Choose Category</option>
            {% for category in categories %}
              <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <select id="number" name="number" class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected value="0">Minimum Assists in Category</option>
          <option value="1">1</option>
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
        {% csrf_token %}
        <input class="btn btn-outline-dark btn-sm" type="submit" value="Submit">
    </form>

    {% if searchVolunteers %}
        <h3> The volunteers who helped at the category : {{ category }} </h3>
        <ul>
            <form action="/volunteers">
                {% for user_check in searchVolunteers %}
                      <input type="checkbox" id="potential_v" name="pot_vol" value="{{user_check.pk}}">
                      <label for="potential_v"> <a href="/user/profile?id={{user_check.id}}" style="text-decoration: none">{{user_check.profile}}</a> </label><br>
                {% endfor %}
                <div class="col-md-6">
                    {{ form|crispy }}
                </div>
                {% csrf_token %}
                <input class="btn btn-dark btn-sm" type="submit" value="submit" name="submit">
            </form>
        </ul>
    {% endif %}
{% endblock %}