{% extends "base/base.html" %}

{% block title %}
TenYad|Login
{% endblock%}

{% load crispy_forms_tags %}

{% block content %}
<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" type="text/css" href="/static/style_login.css">
    </head>
    <body>
         <a id="name">Give a Hand</a>
         <h1 id="login">Login</h1>
        {%if not user.is_authenticated %}
            <div class="position-absolute top-50 start-50 translate-middle">
                <form method="post" class="form-group" action="{% url 'login' %}">
                    {{form|crispy}}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark btn-sm align-bottom" style="margin-top: 4px">login</button>
                    <a href="/register"><button type="button" class="btn btn-outline-dark btn-sm align-bottom" style="margin-top: 4px">sign up</button></a>
                </form>
            </div>
        {% else %}
            <p id="logout-message" style="color:red">You are already logged in</p>
            <a id="logout-if-logged-in" href="/logout" class="btn btn-dark">Logout</a>
        {% endif %}
    </body>
</html>
{% endblock%}
