{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - Homepage
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Homepage</h2>


<!--    <div class="new_post">-->
<!--        <form method="get">-->
<!--            {{post_filter.form}}-->
<!--            <button class="btn btn-primary" type="Ten Yad">Search</button>-->
<!--        </form>-->
<!--    </div>-->

    <link rel="stylesheet" href="/static/style_home.css">
    <div class="flex-container">
        <div class="search_posts" style="opacity:0.85">
            <form method="get">
    <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                {{ post_filter.form }}

                    <button class="btn btn-outline-dark btn-sm align-top" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="recent_posts">
        <h3>recent posts</h3>
        <ul class="list-group " style="opacity:0.85">
            {% for post in show_posts %}
                <li class="list-group-item"><a href="/posts/post?id={{post.id}}" style="text-decoration: none">{{post.title}}</a> last updated:
                    {{post.time_updated_last}} by <a href="/user/profile?id={{post.user.id}}" style="text-decoration: none">{{post.user.profile}}</a> </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}