{% extends 'base/base.html' %}
{% block title %}
    Ten Yad - Score Board
{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/style_score.css">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Score</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for number, user, score in top_scores %}
            <tr>
              <td>{{ number }}</td>
              <td><a href="/user/profile?id={{user.id}}" >{{user.profile}}</a></td>
              <td>{{ user.profile.points }}</td>
              <td>{{ score }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}